.row
  .feed-box
.row
  .small-4.columns
    %p [VIEW MORE FEEDS]
  .small-8.columns
    .row.quarter-padding
      .small-4.columns
        %a.social-link.facebook#feed-1{ href: '#' }
      .small-4.columns
        %a.social-link.twitter#feed-2{ href: '#' }
      .small-4.columns
        %a.social-link.instagram#feed-3{ href: '#' }