%footer
  .row
    .small-12.large-6.columns
      .row
        .small-6.large-3.columns
          {% include menu %}
        .small-6.large-5.columns
          {% include social_links %}
        .small-12.large-4.columns
          {% include legal %}
  .row
    .small-12.columns
      {% include copyright %}