%header
  {% include ticker %}

  .row.logo-holder
    .small-12.large-7.columns.no-padding
      %a.logo{ href: '/' } {{ site.name }}

  .row
    .small-12.large-5.columns
      {% include social_feed %}