.row
  .large-12.small-4.columns
    %a.facebook#share-1{ href: '#' }
      %i.fa.fa-facebook
      – Like
  .large-12.small-4.columns
    %a.twitter#share-2{ href: '#' }
      %i.fa.fa-twitter
      – Share
  .large-12.small-4.columns
    %a.pinterest#share-3{ href: '#' }
      %i.fa.fa-pinterest
      – Pin it