.row.quarter-padding
  .large-12.small-4.columns
    %a.social-link.small.facebook#share-1{ href: '#' }
    – Like
  .large-12.small-4.columns
    %a.social-link.small.twitter#share-2{ href: '#' }
    – Share
  .large-12.small-4.columns
    %a.social-link.small.instagram#share-3{ href: '#' }
    – Pin it