.slider-holder
  .slider-controls
    .slider-left#slider-left
    .slider-right#slider-right
  .slider
    {% for panel in contents.panels %}
    .slide
      %img{ src: "{{ panel.image.url | resize: '1000x400#' }}", alt: "{{ panel.title | escape }}" }
      .row
        .large-5.small-10.small-centered.large-offset-6.columns.panel-info
          %h2 {{ panel.title | escape }}
          %h3
            from
            %span
              Squeaky Green
          %p {{ panel.body | escape }}
    {% endfor %}