@font-face {
    font-family: 'remachine';
    src: url('../fonts/remachinescript_personal_use-webfont.eot');
    src: url('../fonts/remachinescript_personal_use-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/remachinescript_personal_use-webfont.woff') format('woff'),
         url('../fonts/remachinescript_personal_use-webfont.ttf') format('truetype'),
         url('../fonts/remachinescript_personal_use-webfont.svg#remachine_script_personal_uRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Chaparral Pro';
	src: url('../fonts/ChaparralPro-Regular.eot?') format('eot'), 
	     url('../fonts/ChaparralPro-Regular.otf')  format('opentype'),
	     url('../fonts/ChaparralPro-Regular.woff') format('woff'), 
	     url('../fonts/ChaparralPro-Regular.ttf')  format('truetype'),
	     url('../fonts/ChaparralPro-Regular.svg#ChaparralPro-Regular') format('svg');
}

.not-a-selector {
	display: none;
}