@import "compass/css3/border-radius"
@import "compass/css3/transform"
@import "compass/css3/box-shadow"
@import "variables"

body
  font-family: $default-font
  background: $bg2alt

.container
  width: 100%
  max-width: $content-max-width
  margin: 0 auto
  background: $bg3

h1
  font-family: $font1

h2
  font-family: $font2

h3
  font-family: $default-font

h4
  font-family: $default-font

p, li, ul, ol
  font-size: 16px

.alert-box.success
  h3
    color: #fff

h1
  font-size: 22px
  line-height: 22px
  font-style: bold
  color: $col1

  a
    color: $col1

    &:hover
      color: $col1

h2
  font-size: 20px
  line-height: 20px
  font-style: italic
  color: $col1alt

  a
    color: $col1alt

    &:hover
      color: $col1alt

h4
  font-size: 18px
  line-height: 20px
  font-style: bold
  color: $bg3

p
  font-size: 16px
  line-height: 18px
  color: $col1

.italics
  font-style: italic !important

.white
  color: white !important

.centered
  text-align: center !important

header
  background: $bg2alt
  padding: 20px 0px 40px 0px

  position: relative

.posts
  margin-bottom: 20px

.row.half-padding > .columns
  padding-left: 0.5em !important
  padding-right: 0.5em !important

.row.quarter-padding > .columns
  padding-left: 0.2em !important
  padding-right: 0.2em !important

.post-date
  display: block
  background: $bg1alt
  text-align: center
  height: 100px
  width: 100px
  p
    color: $bg1
    font-style: bold
    margin-bottom: 0
    &.post-day
      font-size: 4em
      line-height: 1em
    &.post-month
      text-transform: uppercase
      font-size: 2em
      line-height: 1em


.post-content
  position: relative
  padding: 10px 0px 20px 0px
  &:after
    content: ""
    background-image: url('../images/divider_long.png')
    background-repeat: no-repeat
    background-position: center
    position: absolute
    height: 10px
    width: 100%
    right: 0
    left: 0
    bottom: 0
  &:last-of-type
    &:after
      opacity: 1

.post-social
  position: absolute
  bottom: 0
  right: 0
  margin-bottom: 1.25em
  padding-bottom: 20px
  &:after
    content: ""
    background-image: url('../images/divider_short.png')
    background-repeat: no-repeat
    background-position: center
    position: absolute
    height: 10px
    width: 100%
    right: 0
    left: 0
    bottom: -1.1em
  &:last-of-type
    &:after
      opacity: 1

footer
  background: $bg1
  padding: 40px 0px 10px 0px
  height: 100%

  ul
    list-style: none
    padding-top: 5px

  .row
    padding-top: 10px

  a
    color: #fff
    &:hover
      color: $col1alt

  a.social-link
    display: inline-block
    width: 100%
    min-height: 50px
    color: #fff

    +border-radius(2px)

    &.facebook
      margin-left: 8px
      background-image: url('../images/social_facebook.png')
      background-repeat: no-repeat
      background-position: left

    &.twitter
      margin-left: 5px
      background-image: url('../images/social_twitter.png')
      background-repeat: no-repeat
      background-position: left

    &.instagram
      background-image: url('../images/social_instagram.png')
      background-repeat: no-repeat
      background-position: left

    &.pinterest
      background-image: url('../images/social_facebook.png')
      background-repeat: no-repeat
      background-position: left

    &:active
      +transform(translate(0, 2px))

  .footer-box
    min-height: 140px
    position: relative
    &:after
      content: ""
      background-image: url('../images/divider.png')
      background-repeat: no-repeat
      background-position: center top
      position: absolute
      height: 100%
      width: 10px
      right: -14px
      top: 0
    &.no-border
      &:after
        opacity: 0
